<div class="wrapper">
  <div class="input-forms">
    <%= form_with(model: @kif, local: true) do |f| %>

      <div class="kif-input-form">
        <%= f.text_area :kif, placeholder: '棋譜を貼り付け', size: "40x10" %>
      </div>

      <div class="submit">
        <%= f.submit "送信", class: 'submit' %>
      </div>

    <% end %>
  </div>
  <%= link_to '戻る', root_path, class: 'back-link' %>
</div>
